div{
    width:900px;
    height:200px;
}
#top{
    background-color:rgb(255, 153, 51)
}
#middle{
    background-color:rgb(255, 255, 255)
}
#bottom{
    background-color:rgb(19, 136, 8)
}
#chakra{
    position:relative;
    left:350px;
    top:10px;
}